version: '3'
services:
  frontend:
    build:
      context: ./universities-app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    networks:
      - app-network

  backend:
    build:
      context: ./universities-backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
